[submodule "protocol"]
	path = protocol
	url = https://github.com/TempTalkOrg/livekit-protocol.git
[submodule "ttsignal/ttsignal"]
	path = ttsignal/ttsignal
	url = https://github.com/TempTalkOrg/ttsignal.git
